@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl Book'), local('Stolzl-Book'),
        url('Stolzl-Book.woff2') format('woff2'),
        url('Stolzl-Book.woff') format('woff'),
        url('Stolzl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }